body {
	font-family: 'Space Mono', monospace;
	text-align: center;
}

body {
	background-color: #fff;
	-webkit-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
}

.portfolio-body {
	text-align: left;
	width: 800px;
	margin: 0 auto;
}

.portfolio-body .info {
	padding: 0.5rem;
	text-align: center;
}

.portfolio-body .info .info-header {
	text-align: center;
	display: flex;
}

.contact-info .contact-body .contact-text a {
	color: #000;
	text-decoration: underline;
}

.portfolio-body .portfolio-picture {
	margin-left: 4rem;
}

.portfolio-body .portfolio-picture img {
	width: 30%;
	border-radius: 50%;
}

.portfolio-body .info .info-header .toggle-theme-switch {
	height: 100%;
}

.portfolio-body .info .info-header .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.portfolio-body .info .info-header .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.portfolio-body .info .info-header .switch input:checked+.slider {
	background-color: #000;
}

.portfolio-body .info .info-header .switch input:focus+.slider {
	box-shadow: 0 0 1px #000;
}

.portfolio-body .info .info-header .switch input:checked+.slider::before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background-color: #fff;
}

.portfolio-body .info .info-header .switch span.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
}

.portfolio-body .info .info-header .switch span.slider::before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #000;
	transition: .4s;
}

.portfolio-body .info .contact-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.portfolio-body .info .contact-info .contact-body {
	display: flex;
	align-items: center;
}

.portfolio-body .info .contact-info .contact-body .contact-text {
	margin-left: 0.5rem;
}

.portfolio-body .info .contact-info .contact-body .contact-text p {
	margin: 0;
}

.section-header {
	text-align: center;
}

.section-header h4 {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 0.5rem;
	text-transform: uppercase;
}

.section-header p {
	text-align: left;
}

.section-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 0.5rem;
}

.section-content p a {
	color: #000;
	text-decoration: underline;
}

.section-content:not(:first-of-type) {
	margin-top: 0.5rem;
}

span.content-highlight {
	font-weight: bold;
}

.section-content p {
	margin: 0;
}

.skill-content {
	display: flex;
	align-items: center;
	border: 1px solid #000;
	padding: 0.5rem;
	border-radius: 10px;
	margin-top: 0.5rem;
}

.skill-content:hover,
.section-content:hover {
	-webkit-transform: translate(0.25rem, -0.25rem);
	-moz-transform: translate(0.25rem, -0.25rem);
	-ms-transform: translate(0.25rem, -0.25rem);
	-o-transform: translate(0.25rem, -0.25rem);
	transform: translate(0.25rem, -0.25rem);
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.skill-content h5 {
	margin: 0;
}

.skill-content p {
	margin: 0 0 0 0.5rem;
}

@media only screen and (max-width: 800px) {
	.portfolio-body {
		width: 80%;
	}

	.portfolio-body .info .contact-info {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 425px) {
	.portfolio-body .info .info-header .switch {
		width: 56px;
		height: 30px;
	}

	.portfolio-body .info .info-header .switch span.slider::before {
		height: 20px;
		width: 20px;
	}

}