body {
	font-family: 'Space Mono', monospace;
	text-align: center;
}

.portfolio-body {
	text-align: left;
	width: 800px;
	margin: 0 auto;
}

@media only screen and (max-width: 800px) {
	.portfolio-body {
		width: 80%;
	}
	.portfolio-body .info .contact-info {
		display: flex;
		flex-direction: column;
	}
}

.portfolio-body .info {
	padding: 0.5rem;
}

.portfolio-body .info .info-header {
	text-align: center;
}

.portfolio-body .portfolio-picture img {
	width: 30%;
	border-radius: 50%;
}

.portfolio-body .info .contact-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.portfolio-body .info .contact-info .contact-body {
	display: flex;
	align-items: center;
}

.portfolio-body .info .contact-info .contact-body .contact-text {
	margin-left: 0.5rem;
}

.portfolio-body .info .contact-info .contact-body .contact-text p {
	margin: 0;
}

.section-header {
	text-align: center;
}

.section-header h4 {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 0.5rem;
	text-transform: uppercase;
}

.section-header p {
	text-align: left;
}

.section-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 0.5rem;
}

.section-content:not(:first-of-type) {
	margin-top: 0.5rem;
}

span.content-highlight {
	font-weight: bold;
}

.section-content p {
	margin: 0;
}

.section-content p a {
	text-decoration: none;
}

.skill-content {
	display: flex;
	align-items: center;
	border: 1px solid #000;
	padding: 0.5rem;
	border-radius: 10px;
	margin-top: 0.5rem;
}

.skill-content:hover, .section-content:hover {
	transform: translate(0.25rem, -0.25rem);
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.skill-content h5 {
	margin: 0;
}

.skill-content p {
	margin: 0 0 0 0.5rem;
}